USE [DW]
GO
/****** Object:  StoredProcedure [dbo].[logX_Add]    Script Date: 20.09.2025 20:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[logX_Add]
	@id int=NULL,
	@msg nvarchar(max) = null, -- wenn @msg mit '!' beginnt, wird die Message komplett ersetzt, 
								-- sonst wird @msg mit Leerzeichen dazwischen an die Message angehängt.
	@cnt int=NULL, -- wenn Message ein '%i' enthält, wird formatmessage(@msg,@cnt) ausgeführt, sonst @msg + 'Count:' + @cnt
	@addDuration tinyint=1,
	@raise tinyint=0,
	@evtID int=NULL -- evtID kann ebenfalls verändert werden (Anwendung s. Beispiel)
AS
/*
closedAt und duration werden gesetzt.
exec @ilog = log ...
exec log_Add @ilog, null, @cnt, 1
*/
if @id is null begin
	print 'exec logX_Add @ilog, @msg=''!...'', @cnt=@cnt, @addDuration=1, @raise=0,@evtId=NULL'
	print 'exec logX_Add @ilog, default, @cnt'
	return 0
	end
if @id=0 -- falls LogWithLevel zuvor den Event unterbunden hat.
	return 0

declare @m varchar(max), @d1 datetime, @d2 datetime=getutcdate(), @dur time(3)=null
select @m=isnull(msg,''), @d1=createdAt from tLogX where id=@id

if @msg is not null begin
	if left(@msg,1)='!' begin
		set @m = substring(@msg,2,len(@msg)-1)
	end else begin
		set @m = @m + ' ' + @msg
		end
	end

if @cnt is not null begin
	if @m like '%\%i%' escape '\'
		set @m = FORMATMESSAGE(@m,@cnt)
	else
		set @m = @m + '. Count:' + ltrim(str(@cnt))
	end

if @addDuration=1 begin
	set @dur = dateadd(ms,datediff(ms,@d1,@d2),0)
	set @m = formatmessage('[%s] %s', cast(@dur as nvarchar), @m)
	--set @m = formatmessage('[%s] %s', format(dateadd(ms,datediff(ms,@d1,@d2),0),'HH:mm:ss.fff'), @m)
	end

update tLogX set msg = @m, closedAt=@d2, duration=@dur, evtId=coalesce(@evtId,evtId) where id=@id

declare @cid int, @csrc varchar(100), @cobj varchar(250), @ctask varchar(50), @cevtId int, @clvl tinyint
select @cid=c.id, 
	@csrc=isnull(c.destSrc,x.src),
	@ctask=isnull(c.destTask,x.task) + '*',
	@cobj=x.obj,
	@clvl=isnull(c.destLvl,x.lvl),
	@cevtId=isnull(c.destEvtId,x.evtId)
from tLogXCopy c join tLogX x on
	 (c.src is null or c.src=x.src) and (c.task is null or c.task=x.task) and (c.obj is null or c.obj=x.obj) and (c.evtId is null or c.evtId=x.evtId)
where x.id=@id and c.Only_in_LogXAdd=1

if @cid is not null begin
	exec log @ctask, @cobj, @clvl, @cevtId, @m, @csrc
	end

if @raise=1 begin
	select @msg = formatmessage('[%s]: %s', format(getdate(),'HH:mm:ss'), msg) from tLogX where id=@id
	raiserror(@msg,0,1) with nowait
	end

return isnull(@id,0)




