USE [DW]
GO
/****** Object:  StoredProcedure [dbo].[logX]    Script Date: 20.09.2025 20:20:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   proc [dbo].[logX]
	@task varchar(50) = NULL,
	@obj varchar(250) = NULL,
	@lvl tinyint = 1, -- 0=dbg, 1=info, 2=warning, 3=error, 4=critical
	@evtID int = NULL,
	@msg nvarchar(max)=NULL,
	@src varchar(100) = NULL,
	@removeAfterHours int = 60
AS
/*
select top 1000 * from tLogX order by id desc
*/
declare @id int
if @task is null 
begin
	print 'declare @task varchar(50)='''', @obj varchar(250)=''*'', @msg nvarchar(max), @ilog int
	, @ilogAll int, @dbg tinyint
	exec @ilog = logX @task, @obj, 1, 1000, @msg

	exec @ilog = logX @task, @obj, 1, 1000, @msg, default, 4 -- nach 4 Stunden löschen
	set @msg=formatmessage('''',)
	set @dt = format(getdate(),''HH:mm:ss'')
	exec logX_add @id=@ilog -- , @msg=default, @cnt=default, @addDuration=default
	'
	return 0
end


insert dbo.tLogX (src,lvl,task,obj,evtID,msg,createdAt,createdBy) VALUES 
	(
	case when @src is null then @@SERVERNAME else @src end
	,@lvl,@task,@obj,@evtID,@msg,GETUTCDATE(),SUSER_SNAME()
	)
	
set @id=Scope_Identity()


-- 2024-04-18 MR: sinnvoll für was?
--                erstmal raus
/*
declare @cid int, @csrc varchar(100), @cobj varchar(250), @ctask varchar(50), @cevtId int, @clvl tinyint
select @cid=c.id, 
	@csrc=isnull(c.destSrc,x.src),
	@ctask=isnull(c.destTask,x.task) + '*',
	@cobj=x.obj,
	@clvl=isnull(c.destLvl,x.lvl),
	@cevtId=isnull(c.destEvtId,x.evtId)
from tLogXCopy c join tLogX x on
	 (c.src is null or c.src=x.src) and (c.task is null or c.task=x.task) and (c.obj is null or c.obj=x.obj) and (c.evtId is null or c.evtId=x.evtId)
where x.id=@id and c.Only_in_LogXAdd=0

if @cid is not null begin
	exec log @ctask, @cobj, @clvl, @cevtId, @msg, @csrc
	end
*/

-- 2024-04-18 MR: dies ist überhaupt nicht sinnvoll in einer so oft frequentierten funktion
--                dafür gibt es die separaten retention mechanismen
/*
if @id % 100=0 begin
	delete from tLogX where outdated<getutcdate()
	end
*/

return  @id

